<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict/>
	</array>
	<array>
		<dict>
			<key>headerImage</key>
			<string>orderList.png</string>
			<key>title</key>
			<string>交易订单</string>
			<key>count</key>
			<string></string>
			<key>New item</key>
			<string></string>
			<key>footerImage</key>
			<string>left.png</string>
			<key>segueString</key>
			<string>OrderList</string>
		</dict>
		<dict>
			<key>headerImage</key>
			<string>shoppingCart.png</string>
			<key>title</key>
			<string>购物车</string>
			<key>count</key>
			<string></string>
			<key>footerImage</key>
			<string>left.png</string>
			<key>segueString</key>
			<string>ShoppingCart</string>
		</dict>
		<dict>
			<key>headerImage</key>
			<string>marginMoney.png</string>
			<key>title</key>
			<string>我的账户</string>
			<key>count</key>
			<string></string>
			<key>footerImage</key>
			<string>left.png</string>
			<key>segueString</key>
			<string>MarginMoney</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>headerImage</key>
			<string>collection.png</string>
			<key>title</key>
			<string>我的收藏</string>
			<key>count</key>
			<string></string>
			<key>footerImage</key>
			<string>left.png</string>
			<key>segueString</key>
			<string>MyCollection</string>
		</dict>
		<dict>
			<key>headerImage</key>
			<string>letter.png</string>
			<key>title</key>
			<string>站内信</string>
			<key>count</key>
			<string></string>
			<key>footerImage</key>
			<string>left.png</string>
			<key>segueString</key>
			<string>Myletter</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>headerImage</key>
			<string>personInfo</string>
			<key>title</key>
			<string>个人资料</string>
			<key>count</key>
			<string></string>
			<key>footerImage</key>
			<string>left.png</string>
			<key>segueString</key>
			<string>PersonDetail</string>
		</dict>
		<dict>
			<key>headerImage</key>
			<string>settings.png</string>
			<key>title</key>
			<string>设置</string>
			<key>count</key>
			<string></string>
			<key>footerImage</key>
			<string>left.png</string>
			<key>segueString</key>
			<string>Settings</string>
		</dict>
	</array>
</array>
</plist>
