<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>1</string>
		<string>500,1000</string>
		<string>500-1000</string>
	</array>
	<array>
		<string>2</string>
		<string>1000,2000</string>
		<string>1000-2000</string>
	</array>
	<array>
		<string>3</string>
		<string>2000,3000</string>
		<string>2000-3000</string>
	</array>
	<array>
		<string>4</string>
		<string>3000,5000</string>
		<string>3000-5000</string>
	</array>
	<array>
		<string>5</string>
		<string>5000,9999</string>
		<string>5000-9999</string>
	</array>
	<array>
		<string>6</string>
		<string>10000,19999</string>
		<string>10000-19999</string>
	</array>
	<array>
		<string>7</string>
		<string>20000,29999</string>
		<string>2万-3万</string>
	</array>
	<array>
		<string>8</string>
		<string>30000,49999</string>
		<string>3万-5万</string>
	</array>
	<array>
		<string>9</string>
		<string>50000,99999</string>
		<string>5万-10万</string>
	</array>
	<array>
		<string>10</string>
		<string>100000,299999</string>
		<string>10万-30万</string>
	</array>
	<array>
		<string>11</string>
		<string>300000,999999</string>
		<string>30万-100万</string>
	</array>
	<array>
		<string>12</string>
		<string>1000000,4999999</string>
		<string>100万-500万</string>
	</array>
	<array>
		<string>13</string>
		<string>5000000,</string>
		<string>500万以上</string>
	</array>
</array>
</plist>
